Repository IAmJonoBo/watercrawl: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, actionlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--profile=black]
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]
  - repo: local
    hooks:
      - id: safety
        name: safety
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.security.offline_safety
          - --requirements
          - requirements.txt
          - --requirements
          - requirements-dev.txt
        language: system
        pass_filenames: false
      - id: sqlfluff
        name: sqlfluff
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.sql.sqlfluff_runner
        language: system
        pass_filenames: false
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: node_modules/.bin/markdownlint-cli2
        args: [--config, .markdownlint-cli2.yaml]
        language: system
        types_or: [markdown]
      - id: actionlint
        name: actionlint
        entry: poetry run python -m tools.hooks.run_actionlint
        language: system
        types_or: [yaml]
        files: ^\.github/workflows/.*\.ya?ml$
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        entry: poetry run python -m tools.hooks.run_hadolint
        language: system
        types: [dockerfile]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs
          - types-requests
  - repo: https://github.com/pycqa/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: [-r, firecrawl_demo]
        pass_filenames: false

feat: add GitHub Actions workflow for Copilot setup and documentation
  .github/workflows/copilot-setup-steps.yml
  docs/copilot-setup.md
Due: markdownlint-cli2, actionlint

feat: restore app cli compatibility
  Next_Steps.md
  app/__init__.py
  app/cli.py
  apps/automation/cli.py
  dev/__init__.py
  dev/cli.py
  docs/cli.md
  docs/operations.md
  firecrawl_demo/interfaces/analyst_cli.py
  firecrawl_demo/interfaces/cli.py
  firecrawl_demo/interfaces/cli_base.py
  firecrawl_demo/interfaces/mcp/server.py
  tests/test_app_cli.py
  tests/test_cli.py
  tests/test_dev_cli.py
  tests/test_mcp.py
Due: markdownlint-cli2

fix(contracts): restore GE and dbt gating
  Next_Steps.md
  data_contracts/analytics/macros/contracts_shared.sql
  data_contracts/analytics/models/staging/stg_curated_dataset.yml
  data_contracts/great_expectations/expectations/curated_dataset.json
  firecrawl_demo/integrations/contracts/great_expectations_runner.py
  problems_report.json
  pyproject.toml
  tests/test_cleanup.py
  tests/test_collect_problems.py
  tests/test_contracts.py
  tests/test_dev_cli.py
  tests/test_secrets.py
  tests/test_versioning.py
  tools/hooks/bootstrap.py
  tools/hooks/run_actionlint.py
  tools/hooks/run_hadolint.py
  tools/security/bandit_tests.yaml
  tools/security/offline_safety.py
  tools/sql/sqlfluff_runner.py
Due: markdownlint-cli2

fix(domain): normalize scheme-less domains
  Next_Steps.md
  firecrawl_demo/domain/compliance.py
  firecrawl_demo/integrations/contracts/great_expectations_runner.py
  scripts/ci_summary.py
  tests/test_compliance.py
  tests/test_pipeline.py
Due: markdownlint-cli2

fix(compliance): require South African prefixes in phone normalization
  Next_Steps.md
  firecrawl_demo/domain/compliance.py
  problems_report.json
  tests/test_compliance.py
Due: markdownlint-cli2

fix(lakehouse): add parquet fallback and manifest warnings
  Next_Steps.md
  firecrawl_demo/integrations/storage/lakehouse.py
  problems_report.json
  tests/test_lakehouse.py
Due: markdownlint-cli2

refactor(Next_Steps): simplify section title and remove outdated entries
  Next_Steps.md
Due: markdownlint-cli2

Update README.md
  README.md
Due: markdownlint-cli2

Refactor SQLFluff configuration, update documentation for Python compatibility, and improve import handling in contract runners
  .sqlfluff
  CONTRIBUTING.md
  docs-starlight/src/content/docs/operations.md
  docs/operations.md
  firecrawl_demo/domain/compliance.py
  firecrawl_demo/governance/secrets.py
  firecrawl_demo/integrations/contracts/deequ_runner.py
  firecrawl_demo/integrations/contracts/great_expectations_runner.py
  firecrawl_demo/interfaces/analyst_cli.py
  problems_report.json
  pyproject.toml
  scripts/collect_problems.py
  tests/test_contract_coverage.py
  tests/test_deequ.py
Due: markdownlint-cli2

Enhance dependency management and documentation for Python 3.14 compatibility
  .github/workflows/copilot-setup-steps.yml
  CONTRIBUTING.md
  Next_Steps.md
  docs-starlight/src/content/docs/operations.md
  docs/operations.md
  poetry.lock
  problems_report.json
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: markdownlint-cli2, actionlint

feat(lakehouse): Implement Delta Lake support and snapshot restoration CLI
  Next_Steps.md
  docs-starlight/src/content/docs/operations.md
  docs/operations.md
  firecrawl_demo/infrastructure/lakehouse.py
  firecrawl_demo/integrations/storage/lakehouse.py
  firecrawl_demo/integrations/storage/versioning.py
  poetry.lock
  problems_report.json
  pyproject.toml
  tests/test_lakehouse.py
  tests/test_versioning.py
Due: markdownlint-cli2

feat(drift): Implement drift monitoring and alerts with Whylogs integration
  CONTRIBUTING.md
  Next_Steps.md
  docs-starlight/src/content/docs/operations.md
  docs/operations.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/domain/models.py
  firecrawl_demo/integrations/telemetry/drift.py
  firecrawl_demo/integrations/telemetry/graph_semantics.py
  problems_report.json
  pyproject.toml
  tests/test_drift.py
  tests/test_graph_semantics.py
  tests/test_lakehouse.py
Due: markdownlint-cli2

feat: Enhance safety policy and commit validation
  AGENTS.md
  Next_Steps.md
  README.md
  Red Team + Software Excellence.md
  apps/automation/cli.py
  docs/architecture.md
  docs/cli.md
  docs/mcp.md
  docs/operations.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/governance/safety.py
  firecrawl_demo/infrastructure/planning.py
  firecrawl_demo/integrations/telemetry/graph_semantics.py
  firecrawl_demo/interfaces/analyst_cli.py
  firecrawl_demo/interfaces/cli_base.py
  tests/test_cli.py
  tests/test_dev_cli.py
  tests/test_e2e_pipeline.py
  tests/test_graph_semantics.py
  tests/test_infrastructure_planning.py
  tests/test_safety.py
Due: markdownlint-cli2

feat: Add run_pytest.sh script for improved pytest execution with Python 3.14
  README.md
  docs/operations.md
  scripts/run_pytest.sh
Due: markdownlint-cli2

feat: Document threat model and STRIDE/MITRE mapping in ADR 0003
  Next_Steps.md
  Red Team + Software Excellence.md
  docs-starlight/src/content/docs/adr/0003-threat-model-stride-mitre.md
  docs-starlight/src/content/docs/adr/index.md
  docs/adr/0003-threat-model-stride-mitre.md
  docs/adr/index.md
Due: markdownlint-cli2

feat: Enhance CI with CycloneDX SBOM generation, Sigstore signing, and OpenSSF Scorecard integration
  .github/workflows/ci.yml
  .github/workflows/scorecard.yml
  Next_Steps.md
  README.md
  Red Team + Software Excellence.md
  docs-starlight/src/content/docs/operations.md
  docs/operations.md
Due: markdownlint-cli2, actionlint

feat(accessibility): Integrate axe-core accessibility checks into Streamlit UI and CI
  .github/pull_request_template.md
  .github/workflows/ci.yml
  Next_Steps.md
  README.md
  Red Team + Software Excellence.md
  apps/analyst/accessibility/__init__.py
  apps/analyst/accessibility/axe_smoke.py
  docs-starlight/src/content/docs/operations.md
  docs/operations.md
  poetry.lock
  pyproject.toml
Due: markdownlint-cli2, actionlint

feat(tests): Enhance MCP tests with plan and commit payload validation, including audit logging
  Next_Steps.md
  Red Team + Software Excellence.md
  tests/test_mcp.py
Due: markdownlint-cli2

feat: Update WC entries with due dates for improved tracking and accountability
  Red Team + Software Excellence.md
Due: markdownlint-cli2

feat(drift): Implement drift dashboard reporting with alert logging and Prometheus metrics
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/integrations/telemetry/drift_dashboard.py
  problems_report.json
  tests/test_drift_dashboard.py
  tests/test_e2e_pipeline.py
Due: none

feat: Update accessibility checks and CLI command runner with type hints and improved error handling
  apps/analyst/accessibility/axe_smoke.py
  apps/automation/cli.py
  firecrawl_demo/integrations/telemetry/graph_semantics.py
  problems_report.json
  tests/test_safety.py
Due: none

feat: Enhance QA CLI with plan/commit artifact generation and update observability configurations
  .env.example
  .trunk/trunk.yaml
  Next_Steps.md
  README.md
  apps/automation/cli.py
  data/observability/whylogs/baseline.json
  data/observability/whylogs/baseline_profile.bin.json
  docs-starlight/src/content/docs/cli.md
  docs/cli.md
  docs/operations.md
  problems_report.json
  tests/test_dev_cli.py
  tools/observability/prometheus/drift_rules.yaml
  tools/observability/seed_drift_baseline.py
Due: markdownlint-cli2

feat: Add QA CLI commands for formatting and problem summarization with plan generation support
  .gitignore
  Next_Steps.md
  README.md
  apps/automation/cli.py
  docs-starlight/src/content/docs/cli.md
  docs/cli.md
  problems_report.json
  tests/test_dev_cli.py
Due: markdownlint-cli2

feat: Enhance documentation and tests with detailed descriptions for clarity and maintainability
  firecrawl_demo/integrations/storage/lakehouse.py
  problems_report.json
  tests/test_dev_cli.py
  tests/test_models.py
Due: none

feat: Update blocked keywords in infrastructure plan tests for enhanced security checks
  tests/test_infrastructure_planning.py
Due: none

feat: Enhance documentation and code with improvements for clarity, compatibility, and error handling
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  SECURITY_SUMMARY.md
  apps/automation/cli.py
  data_contracts/deequ/README.md
  docs/offline-linters.md
  docs/phase1-implementation.md
  firecrawl_demo/integrations/contracts/great_expectations_runner.py
  firecrawl_demo/integrations/telemetry/drift_dashboard.py
  firecrawl_demo/integrations/telemetry/graph_semantics.py
  firecrawl_demo/interfaces/cli_base.py
  presets/dependency_blockers.toml
  pyproject.toml
  scripts/bootstrap_env.py
  scripts/test_offline_linters.py
  tests/test_bootstrap_env.py
  tests/test_sqlfluff_runner.py
  tools/bin/README.md
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
  tools/sql/sqlfluff_runner.py
Due: markdownlint-cli2, actionlint

feat: Implement Slack alerting for whylogs drift notifications and add Grafana dashboard configuration
  CHANGELOG.md
  Next_Steps.md
  docs/observability/whylogs-dashboard.json
  docs/operations.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/integrations/telemetry/alerts.py
  tests/test_alerts.py
  tests/test_pipeline.py
Due: markdownlint-cli2

feat: Add mutation testing pilot with CLI integration and documentation updates
  CHANGELOG.md
  Next_Steps.md
  apps/automation/cli.py
  docs/operations.md
  poetry.lock
  pyproject.toml
  scripts/test_offline_linters.py
  tests/test_dev_cli.py
  tests/test_mutation_runner.py
  tools/testing/__init__.py
  tools/testing/mutation_runner.py
Due: markdownlint-cli2

feat: Update mutation testing command by removing suppress mutants option and adjusting results retrieval
  .gitignore
  tools/testing/mutation_runner.py
Due: none

feat: Update Python version baseline to 3.13 across CI, documentation, and scripts
  .github/workflows/ci.yml
  README.md
  docs-starlight/src/content/docs/operations.md
  docs/cli.md
  docs/operations.md
  scripts/bootstrap_python.py
Due: markdownlint-cli2, actionlint

feat: Enhance environment setup by syncing Poetry dependencies and ensuring in-project virtual environments
  README.md
  docs-starlight/src/content/docs/operations.md
  docs/operations.md
  poetry.toml
  scripts/bootstrap_env.py
Due: markdownlint-cli2

feat: Integrate Backstage TechDocs with new catalog metadata, CI publishing, and golden-path template for service onboarding
  .github/workflows/techdocs.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Next_Steps.md
  catalog-info.yaml
  docs-starlight/src/content/docs/operations.md
  docs/operations.md
  templates/golden-path/README.md
  templates/golden-path/catalog-info.yaml
  templates/golden-path/docs/index.md
  templates/golden-path/scripts/bootstrap_env.sh
Due: markdownlint-cli2, actionlint

Refactor profile handling and validation logic
  README.md
  docs-starlight/src/content/docs/mcp.md
  firecrawl_demo/core/config.py
  firecrawl_demo/core/excel.py
  firecrawl_demo/core/profiles.py
  firecrawl_demo/domain/compliance.py
  firecrawl_demo/domain/models.py
  firecrawl_demo/interfaces/analyst_cli.py
  firecrawl_demo/interfaces/mcp/server.py
  problems_report.json
  profiles/za_flight_schools.yaml
  tests/test_cli.py
  tests/test_compliance.py
  tests/test_mcp.py
Due: markdownlint-cli2

feat: Update SQLFluff configuration and enhance data cleaning in staging dataset
  .sqlfluff
  data_contracts/analytics/models/staging/stg_curated_dataset.sql
  problems_report.json
  scripts/collect_problems.py
  tests/test_alerts.py
  tools/testing/mutation_runner.py
Due: none

feat: Implement Sigstore signing guardrail and policy verification for CI artifacts
  .github/workflows/ci.yml
  Next_Steps.md
  README.md
  scripts/verify_artifact_signatures.py
Due: markdownlint-cli2, actionlint

feat: Add Sigstore verification policy and wheel audit tooling for supply-chain automation
  Next_Steps.md
  README.md
  problems_report.json
  scripts/wheel_status.py
  tests/test_verify_artifact_signatures.py
  tests/test_wheel_status.py
Due: markdownlint-cli2

feat: Add Trunk tool integration and output parsing to problems report
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
Due: none

feat: Add parsing for Biome tool output and integrate into problems report
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
Due: none

feat: Enhance problems report with overall summary aggregation and insights extraction
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
Due: none
