Repository IAmJonoBo/watercrawl: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, actionlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--profile=black]
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]
  - repo: local
    hooks:
      - id: safety
        name: safety
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.security.offline_safety
          - --requirements
          - requirements.txt
          - --requirements
          - requirements-dev.txt
        language: system
        pass_filenames: false
      - id: sqlfluff
        name: sqlfluff
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.sql.sqlfluff_runner
        language: system
        pass_filenames: false
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: node_modules/.bin/markdownlint-cli2
        args: [--config, .markdownlint-cli2.yaml]
        language: system
        types_or: [markdown]
      - id: actionlint
        name: actionlint
        entry: poetry run python -m tools.hooks.run_actionlint
        language: system
        types_or: [yaml]
        files: ^\.github/workflows/.*\.ya?ml$
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        entry: poetry run python -m tools.hooks.run_hadolint
        language: system
        types: [dockerfile]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs
          - types-requests
  - repo: https://github.com/pycqa/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: [-r, firecrawl_demo]
        pass_filenames: false

Refactor data enrichment platform for contracts and async processing
  SCRATCH.md
Due: markdownlint-cli2

feat: add multi-source research adapter connectors
  Next_Steps.md
  docs/research-pipeline.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/core/profiles.py
  firecrawl_demo/integrations/adapters/research/__init__.py
  firecrawl_demo/integrations/adapters/research/connectors/__init__.py
  firecrawl_demo/integrations/adapters/research/core.py
  firecrawl_demo/integrations/adapters/research/multi_source.py
  firecrawl_demo/integrations/adapters/research/validators.py
  profiles/za_flight_schools.yaml
  tests/test_pipeline_metrics.py
  tests/test_research_connectors.py
  tests/test_research_multi_source_adapter.py
  tests/test_research_validator.py
Due: markdownlint-cli2

Update __init__.py
  firecrawl_demo/integrations/adapters/research/connectors/__init__.py
Due: none

Update config.py
  firecrawl_demo/core/config.py
Due: none

Update pipeline.py
  firecrawl_demo/application/pipeline.py
Due: none

feat: add multi-source research connectors and validation (#175)
  Next_Steps.md
  docs/research-pipeline.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/core/profiles.py
  firecrawl_demo/integrations/adapters/research/__init__.py
  firecrawl_demo/integrations/adapters/research/connectors/__init__.py
  firecrawl_demo/integrations/adapters/research/core.py
  firecrawl_demo/integrations/adapters/research/multi_source.py
  firecrawl_demo/integrations/adapters/research/validators.py
  profiles/za_flight_schools.yaml
  tests/test_pipeline_metrics.py
  tests/test_research_connectors.py
  tests/test_research_multi_source_adapter.py
  tests/test_research_validator.py
Due: markdownlint-cli2

feat(relationships): add knowledge graph services
  Next_Steps.md
  apps/analyst/graph_cli.py
  docs/relationship-mapping.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/domain/models.py
  firecrawl_demo/domain/relationships.py
  firecrawl_demo/integrations/telemetry/graph_semantics.py
  tests/test_graph_cli.py
  tests/test_graph_semantics.py
  tests/test_pipeline.py
  tests/test_relationships.py
Due: markdownlint-cli2

Update test_graph_semantics.py
  tests/test_graph_semantics.py
Due: none

feat: add relationship intelligence graph services (#176)
  Next_Steps.md
  apps/analyst/graph_cli.py
  docs/relationship-mapping.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/domain/models.py
  firecrawl_demo/domain/relationships.py
  firecrawl_demo/integrations/telemetry/graph_semantics.py
  tests/test_graph_cli.py
  tests/test_graph_semantics.py
  tests/test_pipeline.py
  tests/test_relationships.py
Due: markdownlint-cli2

feat(core): add declarative normalization registry
  Next_Steps.md
  docs/data-normalisation.md
  firecrawl_demo/core/__init__.py
  firecrawl_demo/core/config.py
  firecrawl_demo/core/excel.py
  firecrawl_demo/core/normalization.py
  firecrawl_demo/core/profiles.py
  poetry.lock
  profiles/za_flight_schools.yaml
  tests/test_core_normalization.py
Due: markdownlint-cli2

feat(core): add declarative normalization registry (#177)
  Next_Steps.md
  docs/data-normalisation.md
  firecrawl_demo/core/__init__.py
  firecrawl_demo/core/config.py
  firecrawl_demo/core/excel.py
  firecrawl_demo/core/normalization.py
  firecrawl_demo/core/profiles.py
  poetry.lock
  profiles/za_flight_schools.yaml
  tests/test_core_normalization.py
Due: markdownlint-cli2

feat(compliance): add POPIA review workflow and automation
  Next_Steps.md
  apps/automation/qa_tasks.py
  artifacts/commits/compliance_guardrails_followup.commit
  artifacts/plans/compliance_guardrails_followup.plan
  docs/compliance.md
  docs/index.md
  firecrawl_demo/application/compliance_review.py
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/application/row_processing.py
  firecrawl_demo/core/config.py
  firecrawl_demo/core/profiles.py
  firecrawl_demo/domain/contracts.py
  firecrawl_demo/domain/models.py
  firecrawl_demo/integrations/adapters/research/connectors/__init__.py
  profiles/za_flight_schools.yaml
  templates/transparency_notice.md
  tests/test_compliance_review.py
  tests/test_graph_semantics.py
  tests/test_sqlfluff_runner.py
  tools/hooks/bootstrap.py
Due: markdownlint-cli2

Update compliance_review.py
  firecrawl_demo/application/compliance_review.py
Due: none

feat: add POPIA compliance review workflow and automation (#178)
  Next_Steps.md
  apps/automation/qa_tasks.py
  artifacts/commits/compliance_guardrails_followup.commit
  artifacts/plans/compliance_guardrails_followup.plan
  docs/compliance.md
  docs/index.md
  firecrawl_demo/application/compliance_review.py
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/application/row_processing.py
  firecrawl_demo/core/config.py
  firecrawl_demo/core/profiles.py
  firecrawl_demo/domain/contracts.py
  firecrawl_demo/domain/models.py
  firecrawl_demo/integrations/adapters/research/connectors/__init__.py
  profiles/za_flight_schools.yaml
  templates/transparency_notice.md
  tests/test_compliance_review.py
  tests/test_graph_semantics.py
  tests/test_sqlfluff_runner.py
  tools/hooks/bootstrap.py
Due: markdownlint-cli2

Remove deprecated scripts and update environment discovery
  .github/actions/setup-python-deps/action.yml
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .github/workflows/collect-problems.yml
  AGENTS.md
  CONTRIBUTING.md
  ENVIRONMENT.md
  README.md
  apps/automation/cli.py
  docs-starlight/src/content/docs/cli.md
  docs/cli.md
  docs/operations.md
  firecrawl_demo/domain/contracts.py
  justfile
  presets/problems_tools.toml
  problems_report.json
  scripts/bootstrap_env.py
  scripts/collect_problems.py
  scripts/collect_problems.sh
  scripts/discover_environment.py
  scripts/vscode_problems_helper.py
  tests/test_collect_problems.py
  tests/test_dev_cli.py
  tools/hooks/bootstrap.py
Due: markdownlint-cli2, actionlint

docs: add verification step for dependency configurations in README and operations documentation
  README.md
  docs/operations.md
Due: markdownlint-cli2

feat: Replace Firecrawl with first-party CrawlKit for web crawling and data extraction
  SCRATCH.md
  poetry.lock
Due: markdownlint-cli2

docs: reinforce crawlkit cut-over qa gates
  Next_Steps.md
  SCRATCH.md
Due: markdownlint-cli2

docs: reinforce crawlkit cut-over qa gates (#179)
  Next_Steps.md
  SCRATCH.md
Due: markdownlint-cli2

feat: scaffold crawlkit package
  Next_Steps.md
  crawlkit/__init__.py
  crawlkit/adapter/__init__.py
  crawlkit/adapter/firecrawl_compat.py
  crawlkit/compliance/__init__.py
  crawlkit/compliance/guard.py
  crawlkit/distill/__init__.py
  crawlkit/distill/distill.py
  crawlkit/extract/__init__.py
  crawlkit/extract/entities.py
  crawlkit/fetch/__init__.py
  crawlkit/fetch/polite_fetch.py
  crawlkit/orchestrate/__init__.py
  crawlkit/orchestrate/api.py
  crawlkit/orchestrate/tasks.py
  crawlkit/types.py
  pyproject.toml
  tests/crawlkit/conftest.py
  tests/crawlkit/fixtures/sample.html
  tests/crawlkit/test_adapter.py
  tests/crawlkit/test_compliance.py
  tests/crawlkit/test_distill_extract.py
  tests/crawlkit/test_fetch.py
  tests/crawlkit/test_orchestrate.py
Due: markdownlint-cli2

feat: scaffold crawlkit package (#180)
  Next_Steps.md
  crawlkit/__init__.py
  crawlkit/adapter/__init__.py
  crawlkit/adapter/firecrawl_compat.py
  crawlkit/compliance/__init__.py
  crawlkit/compliance/guard.py
  crawlkit/distill/__init__.py
  crawlkit/distill/distill.py
  crawlkit/extract/__init__.py
  crawlkit/extract/entities.py
  crawlkit/fetch/__init__.py
  crawlkit/fetch/polite_fetch.py
  crawlkit/orchestrate/__init__.py
  crawlkit/orchestrate/api.py
  crawlkit/orchestrate/tasks.py
  crawlkit/types.py
  pyproject.toml
  tests/crawlkit/conftest.py
  tests/crawlkit/fixtures/sample.html
  tests/crawlkit/test_adapter.py
  tests/crawlkit/test_compliance.py
  tests/crawlkit/test_distill_extract.py
  tests/crawlkit/test_fetch.py
  tests/crawlkit/test_orchestrate.py
Due: markdownlint-cli2

refactor: remove redundant problems collector automation and update documentation
  ENVIRONMENT.md
  docs/next-steps-resolution-summary.md
  docs/operations.md
  justfile
Due: markdownlint-cli2

docs: log crawlkit dependency audit
  .github/workflows/ci.yml
  Dockerfile
  Next_Steps.md
  apps/automation/cli.py
  justfile
  poetry.lock
  presets/dependency_blockers.toml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/bootstrap_env.py
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
Due: markdownlint-cli2, actionlint

Update bootstrap_env.py
  scripts/bootstrap_env.py
Due: none

docs: log crawlkit dependency audit (#181)
  .github/workflows/ci.yml
  Dockerfile
  Next_Steps.md
  apps/automation/cli.py
  justfile
  poetry.lock
  presets/dependency_blockers.toml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/bootstrap_env.py
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
Due: markdownlint-cli2, actionlint

feat(crawlkit): align docs and cli with new adapters
  CHANGELOG.md
  CONTRIBUTING.md
  Next_Steps.md
  README.md
  apps/automation/README.md
  docs-starlight/src/content/docs/architecture.md
  docs-starlight/src/content/docs/cli.md
  docs-starlight/src/content/docs/data-quality.md
  docs-starlight/src/content/docs/gap-analysis.md
  docs/architecture.md
  docs/chaos-fmea-scenarios.md
  docs/cli.md
  docs/data-quality.md
  docs/gap-analysis.md
  docs/mcp-promptfoo-gate.md
  docs/research-pipeline.md
  examples.py
  firecrawl_demo/interfaces/cli.py
  main.py
Due: markdownlint-cli2

Update main.py
  main.py
Due: none

Update examples.py
  examples.py
Due: none

feat: document Crawlkit migration and update CLI adapters (#182)
  CHANGELOG.md
  CONTRIBUTING.md
  Next_Steps.md
  README.md
  apps/automation/README.md
  docs-starlight/src/content/docs/architecture.md
  docs-starlight/src/content/docs/cli.md
  docs-starlight/src/content/docs/data-quality.md
  docs-starlight/src/content/docs/gap-analysis.md
  docs/architecture.md
  docs/chaos-fmea-scenarios.md
  docs/cli.md
  docs/data-quality.md
  docs/gap-analysis.md
  docs/mcp-promptfoo-gate.md
  docs/research-pipeline.md
  examples.py
  firecrawl_demo/interfaces/cli.py
  main.py
Due: markdownlint-cli2

feat: surface crawlkit fetch failure diagnostics
  CHANGELOG.md
  Next_Steps.md
  docs-starlight/src/content/docs/reference/api.md
  firecrawl_demo/core/config.py
  firecrawl_demo/integrations/adapters/research/__init__.py
  firecrawl_demo/integrations/adapters/research/core.py
  firecrawl_demo/integrations/adapters/research/registry.py
  tests/test_research_logic.py
Due: markdownlint-cli2

Update firecrawl_demo/integrations/adapters/research/core.py
  firecrawl_demo/integrations/adapters/research/core.py
Due: none

feat: replace research adapter with crawlkit (#183)
  CHANGELOG.md
  Next_Steps.md
  docs-starlight/src/content/docs/reference/api.md
  firecrawl_demo/core/config.py
  firecrawl_demo/integrations/adapters/research/__init__.py
  firecrawl_demo/integrations/adapters/research/core.py
  firecrawl_demo/integrations/adapters/research/registry.py
  tests/test_research_logic.py
Due: markdownlint-cli2

docs: track deliverables in next steps
  Next_Steps.md
Due: markdownlint-cli2

docs: track deliverables in next steps (#184)
  Next_Steps.md
Due: markdownlint-cli2

feat(tooling): add offline bootstrap cache mode
  Next_Steps.md
  README.md
  scripts/bootstrap_env.py
  tests/test_bootstrap_env.py
Due: markdownlint-cli2

Update scripts/bootstrap_env.py
  scripts/bootstrap_env.py
Due: none
