Repository IAmJonoBo/watercrawl: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, actionlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--profile=black]
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]
  - repo: local
    hooks:
      - id: safety
        name: safety
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.security.offline_safety
          - --requirements
          - requirements.txt
          - --requirements
          - requirements-dev.txt
        language: system
        pass_filenames: false
      - id: sqlfluff
        name: sqlfluff
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.sql.sqlfluff_runner
        language: system
        pass_filenames: false
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: node_modules/.bin/markdownlint-cli2
        args: [--config, .markdownlint-cli2.yaml]
        language: system
        types_or: [markdown]
      - id: actionlint
        name: actionlint
        entry: poetry run python -m tools.hooks.run_actionlint
        language: system
        types_or: [yaml]
        files: ^\.github/workflows/.*\.ya?ml$
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        entry: poetry run python -m tools.hooks.run_hadolint
        language: system
        types: [dockerfile]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs
          - types-requests
  - repo: https://github.com/pycqa/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: [-r, firecrawl_demo]
        pass_filenames: false

feat: Update problems report generation and improve parsing logic for biome tool output
  problems_report.json
  scripts/collect_problems.py
Due: none

feat: Update supply-chain provenance details and enhance blocker tracking in documentation
  Next_Steps.md
  Red Team + Software Excellence.md
Due: markdownlint-cli2

feat: Add autofix command execution and reporting to problems collection
  README.md
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
Due: markdownlint-cli2

feat: Update problems report timestamps and fix return code for trunk tool
  .markdownlint-cli2.yaml
  README.md
  problems_report.json
  templates/golden-path/README.md
Due: markdownlint-cli2

feat: Refactor problems collector to use registry-driven tool discovery, add declarative presets, expand Trunk findings per linter, and implement VS Code fallback ingestion
  docs/cli.md
  docs/operations.md
  presets/problems_tools.toml
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
  tmp/plans/problems_modularization.commit
  tmp/plans/problems_modularization.plan
Due: markdownlint-cli2

Add glob2 and mutmut Python 3.14/3.15 wheel blockers
  .yamllint.yaml
  data/observability/whylogs/alerts.json
  data/observability/whylogs/metrics.prom
  presets/dependency_blockers.toml
  tmp/plans/dependency_blockers_update.commit
  tmp/plans/dependency_blockers_update.plan
  tmp/plans/qa_pipeline_run.commit
  tmp/plans/qa_pipeline_run.plan
  tmp/plans/sqlfluff_env_seed.plan
  tmp/plans/yamllint_multidoc_allow.commit
  tmp/plans/yamllint_multidoc_allow.plan
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
Due: none

docs: log qa baseline blockers
  Next_Steps.md
  tmp/plans/qa_baseline.commit
  tmp/plans/qa_baseline.plan
Due: markdownlint-cli2

chore: add pnpm lockfile with initial dependencies and configurations
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/techdocs.yml
  docs-starlight/README.md
  docs-starlight/package.json
  docs-starlight/pnpm-lock.yaml
  docs/copilot-setup.md
  package.json
  pnpm-lock.yaml
Due: markdownlint-cli2, actionlint

chore: ignore package-lock.json, adopting pnpm lockfiles
  .gitignore
Due: none

chore: add pnpm workspace, .npmrc and README guidance for pnpm usage
  .npmrc
  README.md
  pnpm-workspace.yaml
Due: markdownlint-cli2

docs: add pnpm setup instructions to CONTRIBUTING
  CONTRIBUTING.md
Due: markdownlint-cli2

ci: add pnpm validate workflow
  docs-starlight/.github/workflows/pnpm-validate.yml
Due: none

chore: add pnpm validate workflow (#159)
  .gitignore
  .npmrc
  CONTRIBUTING.md
  README.md
  docs-starlight/.github/workflows/pnpm-validate.yml
  pnpm-workspace.yaml
Due: markdownlint-cli2

ci: approve pnpm build scripts in CI to allow esbuild/sharp
  .github/workflows/pnpm-validate.yml
Due: actionlint

chore: add tomli dev dependency for mypy and scripts
  poetry.lock
  pyproject.toml
Due: none

ci: seed CONTRACTS_CANONICAL_JSON for dbt/sqlfluff; seed runner reads contracts_canonical.json
  data_contracts/analytics/contracts_canonical.json
  tools/sql/sqlfluff_runner.py
Due: none

chore: update QA plans and commands; add new tasks for dependency management and testing
  .yamllint.yaml
  data/observability/whylogs/alerts.json
  data/observability/whylogs/metrics.prom
  firecrawl_demo/core/profiles.py
  scripts/collect_problems.py
  tmp/plans/qa.plan
  tmp/plans/qa_20251021T113505.commit
  tmp/plans/qa_20251021T113505.plan
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
  tools/testing/mutation_runner.py
Due: none

chore: enhance environment payload handling for SQLFluff and dbt contracts; update related tests and configurations
  .pre-commit-config.yaml
  apps/automation/cli.py
  data/observability/whylogs/alerts.json
  data/observability/whylogs/metrics.prom
  firecrawl_demo/integrations/storage/versioning.py
  problems_report.json
  tests/test_sqlfluff_runner.py
  tmp/plans/bandit_subprocess_allow.commit
  tmp/plans/bandit_subprocess_allow.plan
  tmp/plans/dbt_contracts_env_seed.commit
  tmp/plans/dbt_contracts_env_seed.plan
  tmp/plans/sqlfluff_env_seed.commit
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
  tools/sql/sqlfluff_runner.py
Due: none

Enhance problems collector to capture and report warnings
  docs/cli.md
  docs/operations.md
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
  tmp/plans/warnings_enhancement.commit
  tmp/plans/warnings_enhancement.plan
Due: markdownlint-cli2

feat: add autofix commands to problems report and enhance tool specifications
  .sqlfluff
  docs/cli.md
  docs/operations.md
  firecrawl_demo/integrations/storage/versioning.py
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
Due: markdownlint-cli2

feat: enhance problems report to include configured tools and update collection logic
  docs/operations.md
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
Due: markdownlint-cli2

feat: enhance warning handling in problems collector to ignore specific SQLFluff warnings and update related tests
  .sqlfluff
  data_contracts/analytics/models/staging/stg_curated_dataset.yml
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
Due: none

feat: enhance problems report and collector to include action recommendations for autofix commands and warnings
  docs/cli.md
  docs/operations.md
  problems_report.json
  scripts/collect_problems.py
  tests/test_collect_problems.py
Due: markdownlint-cli2

feat: add YAML typing stubs and helper scripts for VS Code problems processing
  CONTRIBUTING.md
  problems_report.json
  scripts/run_with_stubs.sh
  scripts/vscode_problems_helper.py
  stubs/yaml/__init__.pyi
Due: markdownlint-cli2

chore: update pnpm workspace configuration and improve script robustness
  docs-starlight/package-lock.json
  docs-starlight/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/run_with_stubs.sh
Due: none

feat: add safe_dump function to YAML typing stubs for improved type support
  scripts/run_with_stubs.sh
  stubs/yaml/__init__.pyi
Due: none

feat: enhance alerts and metrics reporting with new dataset entries and improved error handling
  data/observability/whylogs/alerts.json
  data/observability/whylogs/metrics.prom
  firecrawl_demo/integrations/storage/versioning.py
  problems_report.json
  scripts/collect_problems.py
  scripts/vscode_problems_helper.py
  tests/test_collect_problems.py
  tmp/plans/qa_all_20251021T155949.commit
  tmp/plans/qa_all_20251021T155949.plan
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
Due: none

chore: update lint paths in trunk.yaml for improved configuration management
  .trunk/trunk.yaml
Due: none

feat: add mypy_path configuration for improved type checking support
  pyproject.toml
Due: none

refactor: update YAML import to improve readability and consistency
  .trunk/trunk.yaml
  scripts/collect_problems.py
Due: none

chore: update lint paths in trunk.yaml for improved path matching
  .trunk/trunk.yaml
Due: none

refactor: enhance error handling and improve code readability in collect_problems.py
  scripts/collect_problems.py
Due: none

Address Next_Steps.md risks and document MCP/Chaos policies (#160)
  .yamllint.yaml
  Next_Steps.md
  apps/analyst/accessibility/axe_smoke.py
  docs/chaos-fmea-scenarios.md
  docs/mcp-audit-policy.md
  docs/mcp-promptfoo-gate.md
  docs/next-steps-resolution-summary.md
  scripts/collect_problems.py
Due: markdownlint-cli2

chore: update Copilot instructions and setup steps for improved clarity and usability
  .github/copilot-instructions.md
  .github/copilot-setup-steps.yml
  .github/instructions/python-tests.instructions.md
  .trunk/trunk.yaml
Due: markdownlint-cli2

refactor: update lint paths for improved matching and consistency
  .trunk/trunk.yaml
Due: none

refactor: improve exception handling formatting for better readability in collect_problems.py
  scripts/collect_problems.py
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  requirements-dev.txt
Due: none

chore: set pnpm as the default package manager for Node.js projects in settings.json
  .vscode/settings.json
Due: none
