Repository IAmJonoBo/watercrawl: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, actionlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--profile=black]
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]
  - repo: local
    hooks:
      - id: safety
        name: safety
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.security.offline_safety
          - --requirements
          - requirements.txt
          - --requirements
          - requirements-dev.txt
        language: system
        pass_filenames: false
      - id: sqlfluff
        name: sqlfluff
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.sql.sqlfluff_runner
        language: system
        pass_filenames: false
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: node_modules/.bin/markdownlint-cli2
        args: [--config, .markdownlint-cli2.yaml]
        language: system
        types_or: [markdown]
      - id: actionlint
        name: actionlint
        entry: poetry run python -m tools.hooks.run_actionlint
        language: system
        types_or: [yaml]
        files: ^\.github/workflows/.*\.ya?ml$
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        entry: poetry run python -m tools.hooks.run_hadolint
        language: system
        types: [dockerfile]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs
          - types-requests
  - repo: https://github.com/pycqa/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: [-r, firecrawl_demo]
        pass_filenames: false

feat(pipeline): cover concurrency metrics and pin dbt
  Next_Steps.md
  docs/research-pipeline.md
  poetry.lock
  pyproject.toml
  tests/test_pipeline.py
Due: markdownlint-cli2

feat(pipeline): cover concurrency metrics and pin dbt (#232)
  Next_Steps.md
  docs/research-pipeline.md
  poetry.lock
  pyproject.toml
  tests/test_pipeline.py
Due: markdownlint-cli2

feat(relationships): wire snapshot telemetry through analyst CLI
  Next_Steps.md
  apps/analyst/graph_cli.py
  docs/lineage-lakehouse.md
  firecrawl_demo/domain/relationships.py
  tests/test_graph_cli.py
  tests/test_relationships.py
Due: markdownlint-cli2

Update firecrawl_demo/domain/relationships.py
  firecrawl_demo/domain/relationships.py
Due: none

feat: wire relationship graph telemetry export (#233)
  Next_Steps.md
  apps/analyst/graph_cli.py
  docs/lineage-lakehouse.md
  firecrawl_demo/domain/relationships.py
  tests/test_graph_cli.py
  tests/test_relationships.py
Due: markdownlint-cli2

feat: enhance type annotations for better clarity and type safety
  crawlkit/compliance/guard.py
  firecrawl_demo/core/normalization.py
  firecrawl_demo/integrations/observability.py
  firecrawl_demo/testing/chaos.py
  poetry.lock
  pyproject.toml
  scripts/autofix.py
  scripts/stage_node_tarball.py
  scripts/wheel_status.py
Due: none

fix: improve type safety and resolve mypy errors
  Next_Steps.md
  apps/analyst/cli.py
  firecrawl_demo/integrations/observability.py
  firecrawl_demo/interfaces/cli.py
  firecrawl_demo/interfaces/mcp/server.py
  poetry.lock
  pyproject.toml
  scripts/autofix.py
  scripts/bootstrap_env.py
  scripts/ensure_deps.py
  scripts/provision_marshmallow.py
  scripts/run_pytest.sh
  scripts/stage_node_tarball.py
  scripts/wheel_status.py
  tests/crawlkit/test_cli_shim.py
  tests/test_bootstrap_env.py
  tests/test_contracts.py
  tests/test_graph_cli.py
  tests/test_pipeline.py
  tools/vendor/marshmallow/3.19.0/marshmallow-3.19.0-py3-none-any.whl
  tools/vendor/marshmallow/3.26.1/marshmallow-3.26.1-py3-none-any.whl
Due: markdownlint-cli2

chore(deps): refresh dev requirement hashes
  Next_Steps.md
  README.md
  docs-starlight/src/content/docs/operations.md
  docs/next-steps-resolution-summary.md
  docs/operations.md
  requirements-dev.txt
Due: markdownlint-cli2

chore(deps): refresh dev requirement hashes (#234)
  Next_Steps.md
  README.md
  docs-starlight/src/content/docs/operations.md
  docs/next-steps-resolution-summary.md
  docs/operations.md
  requirements-dev.txt
Due: markdownlint-cli2

Add closeout checks for release readiness
  SCRATCH.md
Due: markdownlint-cli2

Update watercrawl/governance/production_readiness.py
  watercrawl/governance/production_readiness.py
Due: none

Implement Production Readiness Review (PRR) for E2E closeout validation (#236)
  CONTRIBUTING.md
  README.md
  apps/automation/cli.py
  artifacts/chaos/preflight/preflight_20251024T001046Z.json
  docs/closeout-implementation-summary.md
  docs/production-readiness-review.md
  docs/prr-quick-reference.md
  scripts/demo_prr.py
  tests/test_production_readiness.py
  watercrawl/governance/production_readiness.py
Due: markdownlint-cli2

fix: align pytest runner fallback with python 3.13
  Next_Steps.md
  scripts/run_pytest.sh
Due: markdownlint-cli2

fix: align pytest runner fallback with python 3.13 (#237)
  Next_Steps.md
  scripts/run_pytest.sh
Due: markdownlint-cli2

ci: collect coverage for crawlkit and watercrawl
  .github/workflows/ci.yml
  Next_Steps.md
Due: markdownlint-cli2, actionlint

ci: collect coverage for crawlkit and watercrawl (#238)
  .github/workflows/ci.yml
  Next_Steps.md
Due: markdownlint-cli2, actionlint

chore: publish typing markers
  Next_Steps.md
  crawlkit/py.typed
  pyproject.toml
  watercrawl/py.typed
Due: markdownlint-cli2

chore: publish typing markers (#239)
  Next_Steps.md
  crawlkit/py.typed
  pyproject.toml
  watercrawl/py.typed
Due: markdownlint-cli2

chore(deps): refresh dependency matrix blockers
  Next_Steps.md
  plans/wheel_remediation_refresh.plan
  presets/dependency_blockers.toml
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
  tools/dependency_matrix/wheel_status.json
Due: markdownlint-cli2

chore(deps): refresh dependency matrix blockers (#240)
  Next_Steps.md
  plans/wheel_remediation_refresh.plan
  presets/dependency_blockers.toml
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
  tools/dependency_matrix/wheel_status.json
Due: markdownlint-cli2

chore: stabilise qa lint automation
  Next_Steps.md
  plans/qa_lint_config.plan
  poetry.lock
  pyproject.toml
  tools/sql/sqlfluff_runner.py
Due: markdownlint-cli2

Update tools/sql/sqlfluff_runner.py
  tools/sql/sqlfluff_runner.py
Due: none

Stabilise QA lint automation guard (#241)
  Next_Steps.md
  plans/qa_lint_config.plan
  poetry.lock
  pyproject.toml
  tools/sql/sqlfluff_runner.py
Due: markdownlint-cli2

fix(cli): restore missing-column detection for multi-source ingestion
  Next_Steps.md
  plans/multi_source_ingestion.plan
  tests/test_cli.py
  tests/test_core_normalization.py
  tests/test_excel.py
  tests/test_pipeline.py
  watercrawl/application/pipeline.py
  watercrawl/core/excel.py
  watercrawl/core/normalization.py
  watercrawl/domain/validation.py
  watercrawl/interfaces/analyst_cli.py
Due: markdownlint-cli2

Update excel.py
  watercrawl/core/excel.py
Due: none

Update normalization.py
  watercrawl/core/normalization.py
Due: none

Update pipeline.py
  watercrawl/application/pipeline.py
Due: none

Update test_cli.py
  tests/test_cli.py
Due: none

Update analyst_cli.py
  watercrawl/interfaces/analyst_cli.py
Due: none

Update test_pipeline.py
  tests/test_pipeline.py
Due: none

Fix multi-source validation metadata and CLI warnings (#242)
  Next_Steps.md
  plans/multi_source_ingestion.plan
  tests/test_cli.py
  tests/test_core_normalization.py
  tests/test_excel.py
  tests/test_pipeline.py
  watercrawl/application/pipeline.py
  watercrawl/core/excel.py
  watercrawl/core/normalization.py
  watercrawl/domain/validation.py
  watercrawl/interfaces/analyst_cli.py
Due: markdownlint-cli2

feat(core): introduce column inference engine
  Next_Steps.md
  profiles/za_flight_schools.yaml
  tests/test_cli.py
  tests/test_core_column_inference.py
  watercrawl/core/__init__.py
  watercrawl/core/column_inference.py
  watercrawl/core/excel.py
  watercrawl/core/profiles.py
  watercrawl/interfaces/analyst_cli.py
Due: markdownlint-cli2

Update column_inference.py
  watercrawl/core/column_inference.py
Due: none

feat: introduce column inference engine and CLI preview (#243)
  Next_Steps.md
  profiles/za_flight_schools.yaml
  tests/test_cli.py
  tests/test_core_column_inference.py
  watercrawl/core/__init__.py
  watercrawl/core/column_inference.py
  watercrawl/core/excel.py
  watercrawl/core/profiles.py
  watercrawl/interfaces/analyst_cli.py
Due: markdownlint-cli2
