Repository IAmJonoBo/watercrawl: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, actionlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--profile=black]
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]
  - repo: local
    hooks:
      - id: safety
        name: safety
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.security.offline_safety
          - --requirements
          - requirements.txt
          - --requirements
          - requirements-dev.txt
        language: system
        pass_filenames: false
      - id: sqlfluff
        name: sqlfluff
        entry: poetry
        args:
          - run
          - python
          - -m
          - tools.sql.sqlfluff_runner
        language: system
        pass_filenames: false
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: node_modules/.bin/markdownlint-cli2
        args: [--config, .markdownlint-cli2.yaml]
        language: system
        types_or: [markdown]
      - id: actionlint
        name: actionlint
        entry: poetry run python -m tools.hooks.run_actionlint
        language: system
        types_or: [yaml]
        files: ^\.github/workflows/.*\.ya?ml$
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        entry: poetry run python -m tools.hooks.run_hadolint
        language: system
        types: [dockerfile]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs
          - types-requests
  - repo: https://github.com/pycqa/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: [-r, firecrawl_demo]
        pass_filenames: false

fix: update '@types/unist' dependency version to 3.0.3 in multiple type definitions
  pnpm-lock.yaml
Due: none

feat: add script to download and bundle Node.js for the current host
  scripts/bootstrap_node.py
  tools/hooks/bootstrap.py
Due: none

fix: standardize quotes in lint paths for consistency in trunk.yaml
  .trunk/trunk.yaml
Due: none

feat(contracts): harden deequ enforcement
  CHANGELOG.md
  Next_Steps.md
  data_contracts/deequ/README.md
  docs/data-quality.md
  docs/phase1-implementation.md
  firecrawl_demo/integrations/contracts/__init__.py
  firecrawl_demo/integrations/contracts/deequ_runner.py
  firecrawl_demo/integrations/contracts/operations.py
  firecrawl_demo/interfaces/analyst_cli.py
  tests/test_contracts.py
  tests/test_deequ.py
Due: markdownlint-cli2

feat(contracts): harden deequ enforcement (#161)
  CHANGELOG.md
  Next_Steps.md
  data_contracts/deequ/README.md
  docs/data-quality.md
  docs/phase1-implementation.md
  firecrawl_demo/integrations/contracts/__init__.py
  firecrawl_demo/integrations/contracts/deequ_runner.py
  firecrawl_demo/integrations/contracts/operations.py
  firecrawl_demo/interfaces/analyst_cli.py
  tests/test_contracts.py
  tests/test_deequ.py
Due: markdownlint-cli2

Complete Next_Steps.md and Red Team documentation with quality gate verification (#162)
  COMPLETION_CHECKLIST.md
  IMPLEMENTATION_SUMMARY.md
  LICENSE
  Next_Steps.md
  Red Team + Software Excellence.md
  SECURITY.md
  SECURITY_ANALYSIS.md
  pyproject.toml
Due: markdownlint-cli2

feat: add setup for pnpm in CI workflows and create composite action for global installation
  .github/actions/setup-pnpm/action.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/pnpm-validate.yml
  .github/workflows/techdocs.yml
  docs-starlight/.github/workflows/pnpm-validate.yml
Due: actionlint

Potential fix for code scanning alert no. 9: Bad HTML filtering regexp
  firecrawl_demo/integrations/content_hygiene.py
  requirements.txt
Due: none

Potential fix for code scanning alert no. 11: Clear-text logging of sensitive information
  firecrawl_demo/testing/chaos.py
Due: none

Potential fix for code scanning alert no. 10: Bad HTML filtering regexp
  firecrawl_demo/integrations/content_hygiene.py
Due: none

Potential fix for code scanning alert no. 13: Clear-text logging of sensitive information
  firecrawl_demo/testing/chaos.py
Due: none

Update firecrawl_demo/integrations/content_hygiene.py
  firecrawl_demo/integrations/content_hygiene.py
Due: none

Update justfile
  justfile
Due: none

Update Dockerfile
  Dockerfile
Due: none

Potential fix for code scanning alert no. 12: Clear-text logging of sensitive information
  firecrawl_demo/testing/chaos.py
Due: none

Implement all remaining WC items (WC-03, WC-04, WC-13, WC-17, WC-18, WC-20) and fix CI workflows (#163)
  .github/workflows/copilot-setup-steps.yml
  COMPLETION_CHECKLIST.md
  Dockerfile
  Red Team + Software Excellence.md
  WC_ITEMS_IMPLEMENTATION_SUMMARY.md
  docker-compose.yml
  firecrawl_demo/integrations/__init__.py
  firecrawl_demo/integrations/content_hygiene.py
  firecrawl_demo/integrations/crawl_policy.py
  firecrawl_demo/integrations/observability.py
  firecrawl_demo/interfaces/__init__.py
  firecrawl_demo/interfaces/telemetry.py
  firecrawl_demo/testing/__init__.py
  firecrawl_demo/testing/chaos.py
  justfile
  requirements.txt
  tests/test_chaos.py
  tests/test_content_hygiene.py
  tests/test_crawl_policy.py
  tests/test_observability.py
  tests/test_telemetry.py
Due: markdownlint-cli2, actionlint

Complete documentation overhaul with Diátaxis framework, comprehensive Mermaid diagrams, and modern styling (#164)
  DOCUMENTATION_OVERHAUL.md
  README.md
  docs-starlight/astro.config.mjs
  docs-starlight/src/content/docs/architecture.md
  docs-starlight/src/content/docs/code-audit.md
  docs-starlight/src/content/docs/guides/getting-started.md
  docs-starlight/src/content/docs/guides/troubleshooting.md
  docs-starlight/src/content/docs/guides/tutorials/first-enrichment.md
  docs-starlight/src/content/docs/guides/tutorials/mcp-setup.md
  docs-starlight/src/content/docs/guides/tutorials/profiles.md
  docs-starlight/src/content/docs/index.mdx
  docs-starlight/src/content/docs/reference/api.md
  docs-starlight/src/content/docs/reference/configuration.md
  docs-starlight/src/styles/custom.css
Due: markdownlint-cli2

Complete documentation overhaul: implement high and medium priority improvements from code-audit.md (#165)
  docs-starlight/astro.config.mjs
  docs-starlight/package.json
  docs-starlight/src/content/docs/adr/overview.md
  docs-starlight/src/content/docs/code-audit.md
  docs-starlight/src/content/docs/guides/advanced-configuration.md
  docs-starlight/src/content/docs/guides/example.md
  docs-starlight/src/content/docs/index.mdx
  docs-starlight/src/content/docs/reference/data-contracts.md
  docs-starlight/src/content/docs/reference/example.md
  docs-starlight/src/scripts/mermaid-init.js
  docs-starlight/src/styles/custom.css
  docs/adr/0001-architecture-boundaries.md
  docs/adr/0002-domain-application-separation.md
  docs/adr/0003-threat-model-stride-mitre.md
  docs/adr/index.md
  docs/architecture.md
  docs/cli.md
  docs/data-quality.md
  docs/gap-analysis.md
  docs/index.md
  docs/lineage-lakehouse.md
  docs/mcp.md
  docs/operations.md
  docs/surface-taxonomy.md
  mkdocs.yml
  pnpm-lock.yaml
Due: markdownlint-cli2

feat: add Copilot instructions and CI workflow for problems reporting
  .github/copilot-instructions.md
  .github/workflows/collect-problems.yml
Due: markdownlint-cli2, actionlint

Implement contract models and enhance pipeline processing
  SCRATCH.md
Due: markdownlint-cli2

Upgrade problems reporter for ephemeral Copilot runners with automatic stub configuration (#166)
  README.md
  docs/ephemeral-qa-guide.md
  docs/operations.md
  scripts/collect_problems.py
  scripts/collect_problems.sh
  tests/test_collect_problems.py
Due: markdownlint-cli2

Enhance SCRATCH.md with new project initiatives
  SCRATCH.md
Due: markdownlint-cli2

Refactor test files for improved readability and consistency
  firecrawl_demo/integrations/content_hygiene.py
  firecrawl_demo/integrations/contracts/deequ_runner.py
  firecrawl_demo/integrations/crawl_policy.py
  firecrawl_demo/integrations/observability.py
  firecrawl_demo/interfaces/analyst_cli.py
  firecrawl_demo/interfaces/telemetry.py
  firecrawl_demo/testing/chaos.py
  scripts/collect_problems.py
  tests/test_chaos.py
  tests/test_collect_problems.py
  tests/test_content_hygiene.py
  tests/test_crawl_policy.py
  tests/test_deequ.py
  tests/test_observability.py
  tests/test_telemetry.py
Due: none

Ensure reliable dependency downloads with timeout/retry configs and CI/CD optimizations (#168)
  .config/pip/pip.conf
  .github/actions/setup-python-deps/action.yml
  .github/workflows/ci.yml
  .github/workflows/collect-problems.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/pnpm-validate.yml
  .github/workflows/techdocs.yml
  .npmrc
  Dockerfile
  README.md
  docs/dependency-optimization-summary.md
  docs/dependency-resilience.md
  docs/dependency-troubleshooting.md
  justfile
  poetry.toml
  scripts/test_dependency_config.sh
Due: markdownlint-cli2, actionlint

[WIP] Ensure access to all environments in ephemeral runners (#167)
  .github/workflows/copilot-setup-steps.yml
  ENVIRONMENT.md
  scripts/discover_environment.py
Due: markdownlint-cli2, actionlint

Implement Phase 1: Pydantic Data Contracts with JSON Schema Export and Backward Compatibility (#169)
  SCRATCH_IMPLEMENTATION.md
  data/observability/whylogs/alerts.json
  data/observability/whylogs/metrics.prom
  docs/architecture.md
  docs/operations.md
  firecrawl_demo/domain/contracts.py
  firecrawl_demo/domain/models.py
  problems_report.json
  tests/test_contract_schemas.py
Due: markdownlint-cli2

chore: Updated dependencies
  poetry.lock
  pyproject.toml
Due: none

test: align evidence sink fixtures with contracts
  Next_Steps.md
  apps/automation/cli.py
  docs/architecture.md
  docs/operations.md
  firecrawl_demo/application/interfaces.py
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/domain/contracts.py
  firecrawl_demo/domain/models.py
  firecrawl_demo/infrastructure/evidence.py
  firecrawl_demo/integrations/integration_plugins.py
  firecrawl_demo/interfaces/analyst_cli.py
  firecrawl_demo/interfaces/cli_base.py
  tests/data/contracts/avro_v1.json
  tests/data/contracts/json_v1.json
  tests/data/contracts/registry_v1.json
  tests/test_audit.py
  tests/test_cli.py
  tests/test_contract_schemas.py
  tests/test_dev_cli.py
  tests/test_mcp.py
  tests/test_pipeline.py
Due: markdownlint-cli2

test: align evidence sink fixtures with contracts (#170)
  Next_Steps.md
  apps/automation/cli.py
  docs/architecture.md
  docs/operations.md
  firecrawl_demo/application/interfaces.py
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/domain/contracts.py
  firecrawl_demo/domain/models.py
  firecrawl_demo/infrastructure/evidence.py
  firecrawl_demo/integrations/integration_plugins.py
  firecrawl_demo/interfaces/analyst_cli.py
  firecrawl_demo/interfaces/cli_base.py
  tests/data/contracts/avro_v1.json
  tests/data/contracts/json_v1.json
  tests/data/contracts/registry_v1.json
  tests/test_audit.py
  tests/test_cli.py
  tests/test_contract_schemas.py
  tests/test_dev_cli.py
  tests/test_mcp.py
  tests/test_pipeline.py
Due: markdownlint-cli2

feat(pipeline): parallelize research lookups
  Next_Steps.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/core/profiles.py
  firecrawl_demo/integrations/adapters/research/core.py
  profiles/za_flight_schools.yaml
  tests/test_pipeline.py
  tests/test_research_logic.py
Due: markdownlint-cli2

feat: enhance content hygiene and deduplication logic with improved text processing and shingle generation
  data/observability/whylogs/alerts.json
  data/observability/whylogs/metrics.prom
  firecrawl_demo/integrations/content_hygiene.py
Due: none

fix: update types-python-dateutil dependency to allow any version
  pyproject.toml
Due: none

Refactor code structure for improved readability and maintainability
  scripts/provision_marshmallow.py
  tools/hooks/bootstrap.py
  tools/vendor/marshmallow/3.19.0/marshmallow-3.19.0-py3-none-any.whl
Due: none

feat(pipeline): parallelize research lookups (#171)
  Next_Steps.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/core/config.py
  firecrawl_demo/core/profiles.py
  firecrawl_demo/integrations/adapters/research/core.py
  profiles/za_flight_schools.yaml
  tests/test_pipeline.py
  tests/test_research_logic.py
Due: markdownlint-cli2

refactor(application): extract row processing service
  Next_Steps.md
  docs/architecture.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/application/row_processing.py
  tests/test_e2e_pipeline.py
  tests/test_pipeline.py
Due: markdownlint-cli2

refactor(application): extract row processing service (#173)
  Next_Steps.md
  docs/architecture.md
  firecrawl_demo/application/pipeline.py
  firecrawl_demo/application/row_processing.py
  tests/test_e2e_pipeline.py
  tests/test_pipeline.py
Due: markdownlint-cli2

feat: Remove obsolete documentation files and implement new security and quality assurance processes
  .github/workflows/ci.yml
  .github/workflows/wheelhouse-consumer.yml
  .github/workflows/wheelhouse-producer.yml
  COMPLETION_CHECKLIST.md
  DOCUMENTATION_OVERHAUL.md
  IMPLEMENTATION_SUMMARY.md
  SCRATCH_IMPLEMENTATION.md
  SECURITY_ANALYSIS.md
  SECURITY_SUMMARY.md
  WC_ITEMS_IMPLEMENTATION_SUMMARY.md
  firecrawl_demo/__init__.py
  scripts/ensure_deps.py
  scripts/provision_wheelhouse.py
  tools/hooks/bootstrap.py
Due: markdownlint-cli2, actionlint

feat(ci): enhance CI workflows with caching and wheelhouse artifact management
  .github/workflows/ci.yml
  .github/workflows/wheelhouse-producer.yml
  firecrawl_demo/application/row_processing.py
  scripts/download_wheelhouse_artifact.py
  tools/hooks/bootstrap.py
Due: actionlint
