Repository IAmJonoBo/watercrawl: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, actionlint

markdownlint-cli2:
  name: markdownlint-cli2
  entry: node_modules/.bin/markdownlint-cli2
  args:
  - --config
  - .markdownlint-cli2.yaml
  language: system

actionlint:
  name: actionlint
  entry: poetry run python -m tools.hooks.run_actionlint
  language: system

Update README.md
  README.md
Due: markdownlint-cli2

feat: add offline bootstrap cache validation (#185)
  Next_Steps.md
  README.md
  scripts/bootstrap_env.py
  tests/test_bootstrap_env.py
Due: markdownlint-cli2

chore(deps): refresh dependency matrix audit artifacts
  Next_Steps.md
  plans/dependency_refresh.commit
  plans/dependency_refresh.plan
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
  tools/dependency_matrix/wheel_status.json
Due: markdownlint-cli2

Update plans/dependency_refresh.commit
  plans/dependency_refresh.commit
Due: none

Update Next_Steps.md
  Next_Steps.md
Due: markdownlint-cli2

Update tools/dependency_matrix/wheel_status.json
  tools/dependency_matrix/wheel_status.json
Due: none

Refresh dependency matrix audit artifacts (#186)
  Next_Steps.md
  plans/dependency_refresh.commit
  plans/dependency_refresh.plan
  tools/dependency_matrix/report.json
  tools/dependency_matrix/status.json
  tools/dependency_matrix/wheel_status.json
Due: markdownlint-cli2

fix: restore wheelhouse provisioning and pypi telemetry
  Next_Steps.md
  plans/wheelhouse_tls_fix.commit
  plans/wheelhouse_tls_fix.plan
  scripts/provision_wheelhouse.py
  scripts/wheel_status.py
  tests/test_provision_wheelhouse.py
  tests/test_wheel_status.py
  tools/dependency_matrix/wheel_status.json
Due: markdownlint-cli2

Update tests/test_wheel_status.py
  tests/test_wheel_status.py
Due: none

fix: restore wheelhouse provisioning and pypi telemetry (#187)
  Next_Steps.md
  plans/wheelhouse_tls_fix.commit
  plans/wheelhouse_tls_fix.plan
  scripts/provision_wheelhouse.py
  scripts/wheel_status.py
  tests/test_provision_wheelhouse.py
  tests/test_wheel_status.py
  tools/dependency_matrix/wheel_status.json
Due: markdownlint-cli2

Refactor code for improved readability and consistency
  .trunk/trunk.yaml
  apps/analyst/graph_cli.py
  crawlkit/__init__.py
  crawlkit/adapter/firecrawl_compat.py
  crawlkit/compliance/guard.py
  crawlkit/distill/distill.py
  crawlkit/extract/entities.py
  crawlkit/fetch/polite_fetch.py
  crawlkit/orchestrate/api.py
  crawlkit/orchestrate/tasks.py
  crawlkit/types.py
  examples.py
  firecrawl_demo/application/compliance_review.py
  firecrawl_demo/core/config.py
  firecrawl_demo/core/excel.py
  firecrawl_demo/core/normalization.py
  firecrawl_demo/domain/relationships.py
  firecrawl_demo/integrations/adapters/research/core.py
  firecrawl_demo/integrations/adapters/research/multi_source.py
  firecrawl_demo/integrations/adapters/research/validators.py
  firecrawl_demo/integrations/telemetry/graph_semantics.py
  main.py
  presets/dependency_blockers.toml
  pyproject.toml
  scripts/autofix.py
  scripts/bootstrap_env.py
  tests/crawlkit/test_fetch.py
  tests/test_autofix.py
  tests/test_core_normalization.py
  tests/test_graph_cli.py
  tests/test_pipeline.py
  tests/test_research_connectors.py
  tests/test_research_logic.py
Due: none

Update scripts/stage_node_tarball.py
  scripts/stage_node_tarball.py
Due: none

Update scripts/bootstrap_env.py
  scripts/bootstrap_env.py
Due: none

feat: Add offline Node.js runtime support for QA automation (#222)
  Next_Steps.md
  apps/automation/cli.py
  docs/ephemeral-qa-guide.md
  scripts/bootstrap_env.py
  scripts/stage_node_tarball.py
  tests/test_bootstrap_env.py
Due: markdownlint-cli2

docs(chaos): record q4 drill telemetry
  .gitignore
  Next_Steps.md
  artifacts/chaos/2025-10-26_F-001.json
  artifacts/chaos/2025-10-26_F-004.json
  artifacts/chaos/2025-10-26_F-011.json
  docs/chaos-fmea-scenarios.md
Due: markdownlint-cli2

docs(chaos): record q4 drill telemetry (#223)
  .gitignore
  Next_Steps.md
  artifacts/chaos/2025-10-26_F-001.json
  artifacts/chaos/2025-10-26_F-004.json
  artifacts/chaos/2025-10-26_F-011.json
  docs/chaos-fmea-scenarios.md
Due: markdownlint-cli2

feat: automate wheel mirroring and cache validation
  .github/workflows/wheel-mirror.yml
  Next_Steps.md
  README.md
  apps/automation/cli.py
  docs/chaos-fmea-scenarios.md
  docs/operations.md
  scripts/mirror_wheels.py
Due: markdownlint-cli2, actionlint

Apply suggestion from @Copilot
  docs/operations.md
Due: markdownlint-cli2

Potential fix for code scanning alert no. 19: Workflow does not contain permissions
  .github/workflows/wheel-mirror.yml
Due: actionlint

feat: automate wheel mirroring and supply-chain gate (#224)
  .github/workflows/wheel-mirror.yml
  Next_Steps.md
  README.md
  apps/automation/cli.py
  docs/chaos-fmea-scenarios.md
  docs/operations.md
  scripts/mirror_wheels.py
Due: markdownlint-cli2, actionlint

chore: Update Poetry version in lock file to 2.2.0 and regenerate content hash
  poetry.lock
Due: none

feat(qa): add offline bootstrap preflight checks
  Next_Steps.md
  apps/automation/cli.py
  artifacts/chaos/preflight/preflight_20251023T182836Z.json
  docs/chaos-fmea-scenarios.md
  docs/operations.md
  scripts/bootstrap_env.py
  tests/test_bootstrap_env.py
Due: markdownlint-cli2

Update dependencies and bootstrap script for development environment
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  scripts/bootstrap_env.py
Due: actionlint

refactor: reorder imports and improve formatting in multiple scripts
  scripts/mirror_wheels.py
  scripts/provision_wheelhouse.py
  scripts/wheel_status.py
  tests/test_bootstrap_env.py
  tests/test_wheel_status.py
Due: none

feat(qa): add offline bootstrap preflight checks (#225)
  Next_Steps.md
  apps/automation/cli.py
  artifacts/chaos/preflight/preflight_20251023T182836Z.json
  docs/chaos-fmea-scenarios.md
  docs/operations.md
  scripts/bootstrap_env.py
  tests/test_bootstrap_env.py
Due: markdownlint-cli2

feat(contracts): expose registry metadata and sink validation
  Next_Steps.md
  apps/analyst/cli.py
  apps/automation/cli.py
  data_contracts/registry/avro_schemas_v1.json
  data_contracts/registry/json_schemas_v1.json
  data_contracts/registry/registry_v1.json
  docs/data-quality.md
  docs/operations.md
  firecrawl_demo/infrastructure/evidence.py
  firecrawl_demo/interfaces/mcp/server.py
  tests/test_contract_schemas.py
  tests/test_contracts.py
Due: markdownlint-cli2

Update firecrawl_demo/infrastructure/evidence.py
  firecrawl_demo/infrastructure/evidence.py
Due: none

Update firecrawl_demo/interfaces/mcp/server.py
  firecrawl_demo/interfaces/mcp/server.py
Due: none

fix: update package versions and dependencies in poetry.lock and pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

fix: add type ignore comment for yaml import in profiles.py
  firecrawl_demo/core/profiles.py
Due: none

feat: expose contract registry metadata across cli surfaces (#228)
  Next_Steps.md
  apps/analyst/cli.py
  apps/automation/cli.py
  data_contracts/registry/avro_schemas_v1.json
  data_contracts/registry/json_schemas_v1.json
  data_contracts/registry/registry_v1.json
  docs/data-quality.md
  docs/operations.md
  firecrawl_demo/infrastructure/evidence.py
  firecrawl_demo/interfaces/mcp/server.py
  tests/test_contract_schemas.py
  tests/test_contracts.py
Due: markdownlint-cli2

refactor(cli): enforce crawlkit-first workflow
  Next_Steps.md
  SCRATCH.md
  apps/analyst/cli.py
  docs/cli.md
  docs/mcp-promptfoo-gate.md
  firecrawl_demo/core/external_sources.py
  firecrawl_demo/integrations/adapters/research/core.py
  firecrawl_demo/integrations/adapters/research/exemplars.py
  firecrawl_demo/interfaces/cli.py
  tests/crawlkit/test_cli_shim.py
  tests/test_research_logic.py
Due: markdownlint-cli2

refactor(cli): enforce crawlkit-first workflow (#229)
  Next_Steps.md
  SCRATCH.md
  apps/analyst/cli.py
  docs/cli.md
  docs/mcp-promptfoo-gate.md
  firecrawl_demo/core/external_sources.py
  firecrawl_demo/integrations/adapters/research/core.py
  firecrawl_demo/integrations/adapters/research/exemplars.py
  firecrawl_demo/interfaces/cli.py
  tests/crawlkit/test_cli_shim.py
  tests/test_research_logic.py
Due: markdownlint-cli2

feat: enforce offline bootstrap cache readiness
  Next_Steps.md
  docs/ephemeral-qa-guide.md
  plans/bootstrap_offline_cache.commit
  plans/bootstrap_offline_cache.plan
  scripts/bootstrap_env.py
  scripts/download_wheelhouse_artifact.py
  tests/test_bootstrap_env.py
Due: markdownlint-cli2

feat: enforce offline bootstrap cache readiness (#230)
  Next_Steps.md
  docs/ephemeral-qa-guide.md
  plans/bootstrap_offline_cache.commit
  plans/bootstrap_offline_cache.plan
  scripts/bootstrap_env.py
  scripts/download_wheelhouse_artifact.py
  tests/test_bootstrap_env.py
Due: markdownlint-cli2

chore: gate bootstrap on poetry lock sync
  .github/workflows/ci.yml
  Next_Steps.md
  docs/ephemeral-qa-guide.md
  scripts/bootstrap_env.py
  tests/test_bootstrap_env.py
Due: markdownlint-cli2, actionlint

chore: gate bootstrap on poetry lock sync (#231)
  .github/workflows/ci.yml
  Next_Steps.md
  docs/ephemeral-qa-guide.md
  scripts/bootstrap_env.py
  tests/test_bootstrap_env.py
Due: markdownlint-cli2, actionlint

fix: update astro dependency to version 5.15.1 in package.json and pnpm-lock.yaml
  docs-starlight/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
